body {
    background-color: blue;
    font-weight: 600;
}

#game {
    background-color: grey;
    padding: 15px;
    max-width: fit-content;
    max-height: fit-content;
    border-radius: 10px;
    border-color: gold;
    border-style: solid;
}


#intro_text {
    background-color: black;
    color: red;
    padding-left: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    border-style: solid;
    border-color: yellow;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

#player_stats {

    border-style: solid;
    border-color: antiquewhite;
    border-width: 3px;
    display: flex;
    gap: 15px;
}

#monster_stats {}