* {
    font-size: larger;
    font-style: italic;
    font-weight: 170;
    margin-left: 5px;
}

/* all */

body {
    background-image: url('https://wallpapercave.com/wp/wp13414763.jpg');
    /*comment */
}

/* only body */

#onepiece_title {
    background-color: blanchedalmond;
    color: rgb(57, 30, 210);
    /* only id with onepiece_title. ,represented by # */
}

.strawhats {
    background-color: beige;
    color: brown;
    border: dotted greenyellow;
    /* only class with strawhats. ,represented by . */
}

h2.strawhats {
    background-color: rgb(206, 53, 20);
    color: black;
}

p {

    color: rgb(31, 228, 10);
}

.Villain {
    background-color: aqua;
    color: black;
    border-width: medium;
    border: dashed red;
}

table {
    border: 3px solid white;
    border-collapse: collapse;
    width: 100%;
}

th {
    
    border: 2px solid wheat;
    color: cyan;
    font-size: large;
    height: 50px;
}

td {
    
    border: 2px solid white;
    /* color: azure; */
    font-size: medium;
    text-align: left;
}

tr:hover {
    
    color: aquamarine;
}


/* child relation */

h2.Villain>ol {
    background-color: antiquewhite;
    text-shadow: 0cqh;
    font-size: large;
    text-rendering: geometricPrecision;
    color: black;
}

/* adjacent sibling relation  h2+ b , immediate b after h2 */
/* general sibling h2~b , everything b after h2  */
